*{
    margin: 0;
}
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 /* Shared Styles */
 .secondary-bg{
    background-color: #FFF8F3;

 }

 .text-primary{
    color: #FD6E0A;
 }
 .dark2{
    color: #5E5D5C;
 }
 .btn-primary{
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
 }
 .section-title{
    color: black;
    font-weight: bold;
    font-size: 35px;
 }
 .section-description{
    font-size: 18px;
    color: #757575;
 }

 .text-center{
    text-align: center;
 }
 /* --------------- */

 .header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
 }
/*Nav style starts from here*/



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}
.nav-title{
    font-weight: bolder;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    /* color: #5E5D5C; */
}

/* Nav Design Ends here */

/* Banner Design Starts From here */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 38px 0px 130px;
}
.banner-contents{
    max-width: 585px;
}
.banner-img{
    width: 580px;
}
/* --------------------- */

/* Main section design */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* ------------- */

/* About me section design starts from here */
.about{
    /* background-color: #FFF8F3; */
    
    padding: 130px 150px;
    text-align: center;
    border-radius: 10px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    
}
.item-title{
    font-size: 20px;
}


/* What I do Section Design Starts from Here */
.skills-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}


/* Resume Section Starts from Here */
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-title{
    font-weight: bold;
    font-size: 30px;
}
.experience-title{
    font-weight: bold;
    font-size: 25px;
}
.resume hr{
    /* margin-top: 30px; */
    margin: 30px 0px;
}
.download-cv-btn{
    margin-top: 50px;
}
.section-title{
    margin: 130px 0px;
}
.resume-column-title{
    margin-bottom: 30px;
}

/* Footer section design Starts from here */
footer{
}
.footer-container{
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    column-gap: 117px;
}
.footer-column{
    width: 50%;
    
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    display: block;
    border-radius: 5px;
    width: 100%;
    padding: 18px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
footer .footer-column-title{
    margin-bottom: 24px;
}
.footer-submit-btn{
    margin-top: 24px;
}